*, html {
    text-align: center;
}

th {
    user-select: none;
    font-size: 50%;
    padding: 0;
    margin: 0;
}

td {
    padding: 0;
    margin: 0;
    font-size: 90%;
}

.searchBox {
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;

}
.settingLinks a{
    padding: 1rem;
    margin: 5rem;
    top: 50%;
    left: 50%;
    width: 25%;
    color:black;
}

#notification {
    position: fixed;
    bottom:50%;
    left: 50%;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: darkred;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}
